@using Plataforma.Helpers
@using Plataforma.Services.Components
@inject ConfigurationsService _configurationsService
@inject RedirectService _redirectService

@{
    var user = (User)ViewBag.User;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-pt">
<head lang="pt-pt">
    <partial name="Structure/_Head" />
    @await RenderSectionAsync("Style", false)
    @if ((user?.MessagesPosition ?? "TopCenter") != "TopCenter") {
        <link rel="stylesheet" href="~/css/messages-@(user.MessagesPosition.ToLower()).min.css" />
    }
</head>
<body>
@if (user != null) {
    
    <main>
        <aside>
            <div class="aside-menu d-flex flex-column justify-content-between">
                <div>
                    <div class="sidebar-top">
                        <div>
                            <div class="sidebar-toggle-container">
                                <button class="sidebar-toggle h5"><i class="fas fa-arrow-left"></i></button>
                            </div>
                        </div>
                        <div>
                            <div class="logo-container px-3">
                                <div class="div-logo"><a href="/"><img src="~/images/plexyt-logo-img.svg" class="logo" alt="@_configurationsService.Title" /></a></div>
                                <div class="div-text"><a href="/"><img src="~/images/plexyt-logo-text.svg" class="text" alt="@_configurationsService.Title" /></a></div>
                            </div>
                        </div>
                    </div>
                    <partial name="Structure/_Sidebar" />
                </div>
                <div class="sidebar-bottom px-3">
                    <div class="user-info">
                        <a title="Definições" asp-controller="Settings" asp-action="Index">
                            <div class="user-img"></div>
                        </a>
                        <p class="user-name">@user.Name</p>
                    </div>
                        <div class="icon-leave"><a class="p-0 text-decoration-none text-black-50" title="Sair" asp-controller="Auth" asp-action="Logout"><i class="fas fa-right-from-bracket"></i></a></div>
                </div>
            </div>
        </aside>
        <article>
            <div class="container-fluid">
                <div class="titles mb-3">
                    <partial name="Structure/_BreadCrumbs"/>
                </div>
                @RenderBody()
            </div>
        </article>
    </main>


    <partial name="Structure/_Footer"/>
    <partial name="Structure/_Scripts"/>
    <partial name="Structure/_FlashMessages"/>
    <partial name="Structure/_Modals"/>

    @await RenderSectionAsync("Scripts", required: false)

} else {
    @RenderBody()
}
</body>
</html>